
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:  'Oswald', sans-serif;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
   min-height: 100vh;
    background-color: aqua;
}
.wrapper{
    width:600px;
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 30px ;
}
.wrapper header{
    font-size: 30px;
    font-weight:600;
    text-align: center;
}
.wrapper content{
    margin: 35px 0;
}
.content .quote-area{
    display: flex;
    justify-content: center;
}
.quote-area i:first-child{
    margin:3px 10px 0 0;
}
.quote-area i:first-child{
    margin:3px 10px 0 0;
}
.quote-area i:last-child{
    display:flex;
    align-items: flex-end;
    margin:3px 10px 0 0;
}

.quote-area .quote{
    font-size: 23px;
    text-align: center;
    /* word-break: break-all; */
}
.content .author{
    display:flex;
    font-size: 18px;
    font-style:italic;
    margin-top:15px;
    justify-content:flex-end ;
}
.author span:first-child{
    margin:7px 5px 0 0;
    font-family: monospace;
}
.wrapper .buttons{
   border-top: 1px solid #235f50;
}
.buttons .features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.features ul{
    display: flex;
}
.features ul  li{
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width:47px;
    font-size: 22px;
    color:rgba(15, 62, 230, 0.84);
    align-items: center;
    padding: 4px  8px 8px 9px;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid rgb(19, 159, 164);
    cursor:pointer;
    transition: all 0.3s ease-in-out;
}
.features ul  li:hover{
    color:antiquewhite;
    background:rgb(17, 203, 197);

}
.features button{
    border: none;
    outline: none;
    background: rgb(14, 198, 146);
    color: rgb(27, 68, 219);
    border-radius: 30px;
    cursor:pointer;
    padding: 13px 22px;
}
button.loading{
    opacity: 0.7;
    pointer-events: none;
}
.features button:hover{
    background: rgb(37, 204, 209);
    color:#fff
}

